/* CSS Document */
@import url(reset.css);
img {
  vertical-align: bottom;
}

body {
  background-color: #000;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  height: 100px;
  margin: 0 auto;
}

.header__logo {
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.header__item {
  position: relative;
}
.header__item::before {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: rotate(45deg);
  width: 16px;
  height: 10px;
  border-radius: 50%;
  background: #ffcaf7;
  content: "";
  transition: all ease 0.2s;
  translate: -50% -100%;
}
.header__item--current::before {
  opacity: 1;
}

@media (hover: hover) {
  .header__item:hover::before {
    opacity: 1;
  }
}
.header__link {
  padding: 4px 8px;
  font-size: 25px;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}
.wrapper > div {
  margin-bottom: 500px;
}
.wrapper > div:first-of-type {
  margin-bottom: 308px;
}
.wrapper h2 {
  width: 100%;
  position: relative;
  padding-bottom: 116px;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 60px;
}
.wrapper h2::after {
  content: "";
  display: block;
  width: 1.5px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  top: 101px;
  left: 50%;
}

.top {
  position: relative;
  box-sizing: border-box;
  height: 900px;
  width: 100%;
  padding-top: 364px;
}
.top .top__title {
  font-family: "Abril Fatface", cursive;
  font-size: 74px;
  z-index: 100;
}
.top .top__feature {
  width: 666px;
  height: 900px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/top1.jpg") right top/contain no-repeat;
  z-index: -1;
}

.about {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.about .about__date {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 47px;
}
.about .about__date--caption {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 49px;
}
.about .about__place {
  font-size: 60px;
}

.gallery {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: min(10vw, 125px);
  -moz-column-gap: min(10vw, 40px);
       column-gap: min(10vw, 40px);
}
.gallery #gallery {
  width: 100%;
}
.gallery > div:nth-of-type(1) {
  background: url("../images/main1.jpg") center center/cover no-repeat;
}
.gallery > div:nth-of-type(2) {
  background: url("../images/main2.jpg") center center/cover no-repeat;
}
.gallery > div:nth-of-type(3) {
  background: url("../images/main3.jpg") center center/cover no-repeat;
}
.gallery > div:nth-of-type(4) {
  background: url("../images/main4.jpg") center center/cover no-repeat;
}
.gallery > div:nth-of-type(5) {
  background: url("../images/main5.jpg") center center/cover no-repeat;
}
.gallery > div:nth-of-type(6) {
  background: url("../images/main6.jpg") center center/cover no-repeat;
}
.gallery > div:nth-of-type(7) {
  background: url("../images/main7.jpg") center center/cover no-repeat;
}
.gallery .gallery__feature--small {
  width: 40vw;
  height: 54.6153846154vw;
  max-width: 520px;
  max-height: 710px;
}
.gallery .gallery__feature--large {
  width: 90vw;
  max-width: 1080px;
  height: 134.4398340249vw;
  max-height: 723px;
}

.access {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.access .access__address {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;
}
.access .access__tel {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
}
.access .access__g-map {
  margin: 0 auto;
  width: 70%;
  height: clamp(200px, 60vh, 480px);
  max-width: 912px;
  max-height: 480px;
}
.access .access__g-map iframe {
  width: 100%;
  height: 100%;
}

.contact .button {
  width: 600px;
  height: 120px;
  margin: 50px auto;
  border: solid 1px #fff;
}
.contact .button a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  line-height: 120px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #fff;
  transition: all ease 0.3s;
}
.contact .button a:hover {
  color: #000;
  background-color: #fff;
}
.contact .contact__box {
  display: flex;
  justify-content: center;
}
.contact .contact__box--mail, .contact .contact__box--tell {
  width: 40%;
}
.contact .contact__box--mail p:first-of-type, .contact .contact__box--tell p:first-of-type {
  position: relative;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.1em;
}
.contact .contact__box--mail p:first-of-type::after, .contact .contact__box--tell p:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.contact .contact__box--mail p:nth-of-type(2), .contact .contact__box--tell p:nth-of-type(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-top: 20px;
}

/* footer */
.footer__copy, .footer__heading, .footer__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer {
  margin-top: 270px;
  padding-bottom: 90px;
}

.footer__logo {
  font-size: 50px;
  font-family: "Abril Fatface", cursive;
}

.footer__heading {
  margin-top: 130px;
  font-size: 44px;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  -moz-column-gap: 44px;
       column-gap: 44px;
}

.footer__item:nth-of-type(3) .footer__icon {
  width: 64px;
}

.footer__link {
  display: grid;
  place-items: center;
}

.footer__icon {
  width: 70px;
  height: auto;
  color: white;
  transition: all ease 0.1s;
}

@media (hover: hover) {
  .footer__link:hover .footer__icon {
    color: rgba(225, 225, 225, 0.3);
  }
}
.footer__copy {
  margin-top: 224px;
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
}

/* PC */
/*# sourceMappingURL=style.css.map */